*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: hsl(0, 0%, 98%);
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin: 0 auto;
}

h1{
    font-weight: 200;
    color: hsl(234, 12%, 34%);
    position: relative;
    margin-bottom: 0;
}

h2{
    font-weight: 600;
    color: hsl(234, 12%, 34%);
    position: relative;
    margin-top: 0;
    font-size: 30px;
}

h3{
    color: hsl(234, 12%, 34%);   
}

p{
    margin-top: 20px;
    font-weight: 400;
    color: hsl(229, 6%, 66%);
    line-height: 1.5;
}

.wrap{
    margin: 50px auto 15px auto;
    max-width: 1400px;
    position: relative;
    padding: 0 100px 0 100px;

}

.grid{
    display: grid;
    grid-gap: 30px;
    grid-template-columns: auto auto auto;
    grid-auto-rows: minmax(200px, auto);
    margin: 0 auto;
}

.title-text{

    position: relative;
    padding-top: 50px;
}

.cards{
    
    background-color: white;
    height: 250px;
    box-shadow: 0 7px 16px #dddddd;
    padding: 15px;
    border-radius: 5px;
}

.supervisor{
    border-top: hsl(180, 62%, 55%) solid 5px;
    border-radius: 5px;
    grid-column: 1;
    transform: translateY(50%);
    justify-content: center;
}

.team_builder{
    border-top: hsl(0, 78%, 62%) solid 5px;
    border-radius: 5px;
    grid-column: 2;
    grid-row: 1;
    justify-content: center;
}

.karma{
    border-top: hsl(34, 97%, 64%) solid 5px;
    border-radius: 5px;
    grid-column: 2;
    grid-row: 2;
    justify-content: center;
}

.calculator{
    border-top: hsl(212, 86%, 64%) solid 5px;
    border-radius: 5px;
    grid-column: 3;
    transform: translateY(50%);
    justify-content: center;
}

.cards p, h3{
    text-align: left;
    margin: 10px;
    line-height: 1.5;
}


img{
    position: relative;
    margin-left: 70%;
    margin-top: 10%;
}

.attribution {
    font-size: 11px;
    text-align: center;
    color: hsl(229, 6%, 66%);
    position: relative;
    padding-top:30px;
    
}
  
.attribution a {
    color: hsl(228, 45%, 44%);
}

.attribution a:hover{
    color: black;
}

@media screen and (max-width: 1024px) {
    .wrap {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 1fr 1fr;
      column-gap: 2em;
      padding: 0 5em;
      max-width: 1400px;
      padding: 10px;
    }

    .cards{
        
    }

    .grid{
      grid-template-columns: 1; 
      grid-gap: 0;
    }

    .supervisor{
        margin: 20px;
        transform: none;
        align-items: center;
        grid-column: 2;
        grid-row: 1;
    }

    .team_builder{
        margin: 20px;
        grid-row: 2;
    }

    .karma{
        margin: 20px;
        grid-row: 3;
    }

    .calculator{
        margin: 20px;
        transform: none;
        align-items: center;
        grid-column: 2;
        grid-row: 4;
        
    }